.headercss {
  /* width: 100%;
  border: solid;
  height: 100px;
  background: lightgrey;
  margin: 0px;
  width: inherit;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: blue;
  background: lightgrey;
  height: 40px;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  display:flex;
}