.footercss {
  /* width: 100%;
  border: solid;
  height: 100px;
  background: lightcoral;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px; */
  color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  background: lightcoral;
  display:flex;

  
}
