<app-header></app-header>

<!-- <app-modal><app-modal> -->

  <div style="width:100%;padding: 20px; position: fixed;
  top: 45px;
  left: 0;
  height:calc(100% - 190px) ;
  width: 100%;"> 

    <button  style="cursor:pointer;"  (click)="toggle_modal()"> 
    <fa-icon  *ngIf="!showModal" class="btn_fa_icon" [icon]="faExpand"></fa-icon>
    <fa-icon  *ngIf="showModal" class="btn_fa_icon" [icon]="faCompress"></fa-icon>
    
    </button>

    <app-modal *ngIf="showModal"></app-modal>
  </div>

 


<app-footer></app-footer>

