
<div class="a" >

  <div class="content_holder" style="    position: absolute;
  /* height: 80%; */
  background: white;
  padding: 15px 15px 0px 15px;
  border-radius: 10px;
  width: 90%;
  left: 5%;
  height: 450px;">

    <div class="header_div" style="display: inline-block;width:100%; text-align:right; ">

      <input type="text" style="height:40px;margin:2px 5px;" placeholder="Search Product Name" [ngModel]="mymodel" (ngModelChange)="valuechange($event)" />
    
      <div class="icon_holder">
      <fa-icon style="width:40px;height:40px;font-size:20px;padding:10px;cursor:pointer;"  (click)="refresh()" [icon]="faSync"></fa-icon>
        
      <fa-icon  style="width:40px;height:40px;font-size:20px;padding:10px;" (click)="close()" [icon]="faCompress"></fa-icon>
    
      <!-- <fa-icon  style="width:40px;height:40px;font-size:20px;padding:10px;"  [icon]="faTable"></fa-icon> -->
      </div>
    
    
    
      </div>
    
    
    <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
    
    
    <div class="b"  
    style=" overflow: scroll;
    height: calc( 41px*8 ) ;
    padding: 0px;
    margin: 0px;">
    
      <table style="width:100%;" >
      <tr style="position: sticky;
      top: 0;
      background: lightgrey;
      color: darkgrey;" *ngIf="products.length>0">
      <!-- <th> <input type="checkbox" ></th> -->
      <th style="cursor:pointer;" (click)="sortbyID()">
        Item ID
        <fa-icon *ngIf="!sortbyIDasc" class="th_fa_icon"  [icon]="faAngleUp"></fa-icon>
        <fa-icon *ngIf="sortbyIDasc"   class="th_fa_icon"  [icon]="faAngleDown"></fa-icon>
      </th>
      <th style="cursor:pointer;" (click)="sortbyproductName()">
        Product Name
        <fa-icon *ngIf="!productNameasc"  class="th_fa_icon"  [icon]="faAngleUp"></fa-icon>
        <fa-icon *ngIf="productNameasc"  class="th_fa_icon"  [icon]="faAngleDown"></fa-icon>
      </th> 
      <th style="cursor:pointer;" (click)="sortbyActualPrice()" >
        Actual Price
        <fa-icon *ngIf="!sortbyActualPriceasc"  class="th_fa_icon"  [icon]="faAngleUp"></fa-icon>
        <fa-icon *ngIf="sortbyActualPriceasc"  class="th_fa_icon"  [icon]="faAngleDown"></fa-icon>
      </th>
      <th style="cursor:pointer;" (click)="sortbyDiscount()" >Discount Price
        <fa-icon *ngIf="!sortbyDiscountasc"  class="th_fa_icon"  [icon]="faAngleUp"></fa-icon>
        <fa-icon *ngIf="sortbyDiscountasc"  class="th_fa_icon"  [icon]="faAngleDown"></fa-icon>
      </th>
      <th style="cursor:pointer;" (click)="sortbyStock()">
        Stock Available
        <fa-icon *ngIf="!sortbyStockasc"  class="th_fa_icon"  [icon]="faAngleUp"></fa-icon>
        <fa-icon *ngIf="sortbyStockasc"  class="th_fa_icon"  [icon]="faAngleDown"></fa-icon>
     
      </th>
    </tr>
        <tr [ngClass]="{
          'danger':product.status === 'danger',
          'success':product.status === 'success',
          'info':product.status === 'info',
          'dead':product.status === 'dead'
        }" *ngFor="let product of products">
        <!-- <td>
        <input type="checkbox" id="product.id" name="product.productName" value="product.actualPrice">
       
        </td> -->
          <td>
          {{product.id}}
          </td>
          <td>
          {{product.productName}}
          </td>
          <td>
          {{product.actualPrice}}
          </td>
          <td>
          {{product.discountPrice}}
          </td>
          <td>
          {{product.stockAvailable}}
          </td>
        </tr>
        
      </table>
    
      
    </div>

  </div>



</div>