.a{
  /* height: calc(100% - 300px);
  width:90%; */

  /* width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    background: #55555555;
    right: 0px; */

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    background: #55555555;
    right: 0px;

}

.b{
 
  
}

.icon_holder{
  height:40px;
  border-radius:5px; 
  margin:5px 5px;
  width:80px;
  background:#e9ecf2; 
  color:grey;
  float:right;
  display: flex;
  text-align:center;
  cursor:pointer;

 
}

.content_holder{
 /* position: absolute; */
  /* height: 80%; */
  /* background: white;
  padding: 15px 15px 0px 15px;
  border-radius: 5px;
  width: 90%;
  left: 5%;
  top:5%; */
  /* height: 450px; */

  /* position: absolute; */
    /* height: 80%; */
    background: white;
    padding: 15px 15px 0px 15px;
    /* border-radius: 5px; */
    /* width: 90%; */
    /* left: 5%; */
    /* top: 5%; */
    width: 500px;
    margin: auto;
    /* height: 450px;*/
}



table {
  border-collapse: collapse;
  border-radius: 25px;
 
}

td{
  /* text-align: start;
  border: 1px solid darkgray;
  padding :10px;
  color: grey; */

  text-align: start;
    border: 1px solid darkgray;
    padding: 6px;
    color: grey;
    font-size: 12px;
    cursor: pointer;
}

th{
  /* text-align: start;
  border: 1px solid darkgray;
  padding :10px;
  color: grey; */

  text-align: start;
    border: 1px solid darkgray;
    padding: 6px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
    font-weight: lighter;
}

table{
  border-radius: 5px 5px 0px 0px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #00000000;
  border: solid;
  visibility: collapse;
}

.danger{
  background: #f2dede;
}
.info{
  background: #d9edf7;
}

.success{
  background: #DFF0D8;
}

.dead{
  background: #f7f7f8;
}

.th_fa_icon{
  width:10px;
  height:10px;
  font-size:10px;
  padding:10px;
}




@media only screen and (max-width: 600px) {
  .content_holder {
    width: 90%;
  }
}

@media screen and (min-width: 980px) /* Desktop */ {
  .content_holder {
    width: 500px;
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  .content_holder {
    width: 500px;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .content_holder {
    width: 90%;
  }
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border:2px solid #cccccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {

background-color: #bbbbbb;
background-image: linear-gradient(147deg, #bbbbbb 0%, #ffffff 74%);


}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
   left: 3px;
  top: 0px;
  width: 3px;
  height: 7px;
  border: solid #576a9e;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.parent_display {
  width: 20em;
  display: flex;
  background: white;
  text-align: center;
}
.child_box {
  flex: 1;
  border: 1px solid #cccccc;
}