
<div class="a" 
style="padding:20px;
height: 400px;
border: 1px solid green;">


<!--  [formControl]="name" -->


<input type="text" placeholder="Search" [ngModel]="mymodel" (ngModelChange)="valuechange($event)" />
<button (click)="refresh()">refresh</button>
 

<div class="b"  
style=" overflow: scroll;
height: calc( 41px*10 + 18px);
padding: 0px;
margin: 0px;">

  <table style="width:90%;" >
  <tr style="position: sticky;
  top: 0;
  background: lightgrey;
  color: white;" *ngIf="products.length>0">
  <th> <input type="checkbox" ></th>
  <th>Item ID</th>
  <th>Product Name</th> 
  <th>Actual Price</th>
  <th>Discount Price</th>
  <th>Stock Available</th>
</tr>
    <tr [ngClass]="{
      'danger':product.status === 'danger',
      'success':product.status === 'success',
      'info':product.status === 'info',
      'dead':product.status === 'dead'
    }" *ngFor="let product of products">
    <td>
    <input type="checkbox" id="product.id" name="product.productName" value="product.actualPrice">
   
    </td>
      <td>
      {{product.id}}
      </td>
      <td>
      {{product.productName}}
      </td>
      <td>
      {{product.actualPrice}}
      </td>
      <td>
      {{product.discountPrice}}
      </td>
      <td>
      {{product.stockAvailable}}
      </td>
    </tr>
    
  </table>

  
</div>
</div>