

<div class="a">
<!-- {
  "itemId": 2,
  "id": 2,
  "productName": "delectus aut autem",
  "actualPrice": 5400.0000,
  "discountPrice": 4400.0000,
  "stockAvailable": 8 ,
  "selected": false
}, -->
<div class="b" >
  <table">
  <tr>
  <th> <input type="checkbox" ></th>
  <th>Item ID</th>
  <th>Product Name</th> 
  <th>Actual Price</th>
  <th>Discount Price</th>
  <th>Stock Available</th>
</tr>
    <tr [ngClass]="{
      'danger':product.status === 'danger',
      'success':product.status === 'success',
      'info':product.status === 'info',
      'dead':product.status === 'dead'
    }" *ngFor="let product of products">
    <td>
    <input type="checkbox" id="product.id" name="product.productName" value="product.actualPrice">
   
    </td>
      <td>
      {{product.id}}
      </td>
      <td>
      {{product.productName}}
      </td>
      <td>
      {{product.actualPrice}}
      </td>
      <td>
      {{product.discountPrice}}
      </td>
      <td>
      {{product.stockAvailable}}
      </td>
    </tr>
    
  </table>

  
</div>
</div>